## Be careful to use "exec" command.
## If you execute a non-existing file, an additional init process can be created!

on boot
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.edge    4093,26280,704512,4096,16384,110208
    setprop net.tcp.buffersize.gprs    4092,8760,704512,4096,8760,110208
    setprop net.tcp.buffersize.umts    4094,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.hsdpa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsupa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hspa    4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.lte     524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.wifi    524288,1048576,2097152,262144,524288,1048576

# set default brightness
    write /sys/class/leds/lcd-backlight/brightness 173

# Bluetooth tethering
    setprop bluetooth.pan true
    setprop persist.service.bt.support.sap true
    setprop service.bt.support.busytone true

    mkdir /data/connectivity 0775 system system
    mkdir /data/connectivity/nsrm 0775 system system
    copy /system/etc/cne/NsrmConfiguration.xml /data/connectivity/nsrm/NsrmConfiguration.xml
    chown system system /data/connectivity/nsrm/NsrmConfiguration.xml
    chmod 775 /data/connectivity/nsrm/NsrmConfiguration.xml


# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  3461120
    write /proc/sys/net/core/wmem_max  3461120

service ipsecclient /system/bin/ipsecclient
    class main
    group system net_admin net_raw
    disabled

service ipsecstarter /system/bin/ipsecstarter
    class main
    user system
    group system net_admin net_raw

on property:ro.build.type=userdebug
    setprop sys.coredump 1

on post-fs
    start flash_recovery

on post-fs-data
# factory reset magic code
on property:sys.factory=1
    exec /system/bin/dd if=/system/etc/factory_reset_magic of=/dev/block/platform/msm_sdcc.1/by-name/pad1 bs=512 count=1

on fs
    mkdir /cust 0771 system system
    wait /dev/block/platform/msm_sdcc.1/by-name/cust
    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/cust
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cust /cust ro nosuid nodev barrier=1 noauto_da_alloc

on init
    exec /sbin/setup_fs_static \
        /dev/block/platform/msm_sdcc.1/by-name/cust \
        no_reboot

service smpl_count /system/bin/smpl_count
    class main
	user root
	oneshot
